<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>41808763823-d3i5vim7m7g405vfdv7dgdfv7ai0t217.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41808763823-d3i5vim7m7g405vfdv7dgdfv7ai0t217</string>
	<key>API_KEY</key>
	<string>AIzaSyAtfkgVfsE9xgrZ3MEv7PA81hgb1PFdppA</string>
	<key>GCM_SENDER_ID</key>
	<string>41808763823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AMM.Stubble</string>
	<key>PROJECT_ID</key>
	<string>stubble-e1fe0</string>
	<key>STORAGE_BUCKET</key>
	<string>stubble-e1fe0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:41808763823:ios:337eee9241d9f9ae</string>
	<key>DATABASE_URL</key>
	<string>https://stubble-e1fe0.firebaseio.com</string>
</dict>
</plist>